.offer-slider {
  width: 51%;
  margin-right: 54px;
  padding-top: 15px;
  position: relative;

  &::after {
    position: absolute;
    z-index: 10;
    content: "NEW MODEL";
    top: 15px;
    left: 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    padding: 8.5px 27px;
    background-color: #D12136;
  }

  >img {
    width: 100%;
    margin-bottom: 35px;
  }
}

.offer-slider__driver {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 21%;
  }
}

.offer-slider__thumbnails {
  img {
    width: calc((100% - 50px) / 3);
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.offer-slider__button {
  position: relative;
  width: 52px;
  height: 52px;
  flex-shrink: 0;
  background-color: #FFFFFF;
  border: 1px solid #D7D9DF;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  cursor: pointer;
  margin-bottom: 6px;

  &:hover, 
  &:focus {
    border: 1px solid #48494D;
  }

  &:disabled {
    pointer-events: none;

    svg {
      stroke: #D7D9DF;
    }
  }

  &--prev {
    transform: rotate(180deg);
    margin-right: 31px;
  }

  &--next {
    margin-left: 31px;
  }

  svg {
    stroke: #48494D;
    width: 18px;
    height: 13px;
  }
}