.offer-title {
  margin: 0;
  padding: 0;
  flex: 1;

  h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    color: #48494D;
  }
}

.offer-title__options {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  align-items: center;
}

.offer-title__options-item {
  opacity: 50%;
  color: #48494D;
  margin-right: 7px;

  svg {
    display: block;
    margin: auto;
    margin-bottom: 11px;
  }

  p {
    padding: 0;
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
  }
}

.offer-title__price {
  display: flex;
  color: #48494D;
  font-weight: bold;
  font-size: 35px;
  line-height: 48px;
  align-items: center;
  margin-bottom: 37px;

  p {
    margin: 0;
    margin-right: 30px;
  }

  span {
    position: relative;
    opacity: 50%;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      transform: rotate(-8deg);
      top: 13px;
      opacity: 50%;
      background: #48494D;
    }
  }


}